1 VERSIONINFO
FILEVERSION     1,5,0,2
PRODUCTVERSION  1,5,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Alexandre Dantas"
      VALUE "FileDescription", "A customizable Tetris(tm) clone on the console."
      VALUE "FileVersion", "1.5"
      VALUE "InternalName", "yetris"
      VALUE "LegalCopyright", "Alexandre Dantas"
      VALUE "OriginalFilename", "yetris.exe"
      VALUE "ProductName", "yetris"
      VALUE "ProductVersion", "1.5"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
id ICON "logo.ico"
